<div class="container  resultsTable">
  <div class="row rowHeader">
    <div class="col-3">
      Lines of Business
    </div>
    <div class="col">
      Premium Totals
    </div>
    <div class="col">
      Rating Worksheet
    </div>
    <div class="col">
      ACORD
    </div>
    <div class="col">
      Quote Proposal
    </div>
    <div class="col">
      Hazard Grade
    </div>
  </div>
  <div class="row">
    <div class="col-3 td tdSubPremium">
      Commercial Protector (BOP)
    </div>
    <div class="col td tdSubPremium">
      $3,954.00**
    </div>
    <div class="col pdf">
      &nbsp;
    </div>
    <div class="col td subPremium tdOddColumn">
      Not Available
    </div>
    <div class="col rtf">
      &nbsp;
    </div>
    <div class="col td subPremium tdOddColumn">
      5
    </div>
  </div>
  <!--<div class="row">
    <div class="col-3 td subPremium tdOddColumn">
      &nbsp;
    </div>
    <div class="col td tdSubPremium">
      <img class="arrow-width" src="./../assets/img/FullArrow.png"> 
    </div>
    <div class="col tdEvenColumn">
      &nbsp;
    </div>
    <div class="col td subPremium tdOddColumn">
      &nbsp;
    </div>
    <div class="col tdEvenColumn">
      &nbsp;
    </div>
    <div class="col td subPremium tdOddColumn">
      &nbsp;
    </div>
  </div>-->
</div>